ul {
  list-style-type: none;
  padding: 10px;
}

li button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px 2px; 
    background-color: white;
    cursor: pointer;
    width: 100%;
}