.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

video {
    width: 320px;
    height: 240px;
    background: #000;   
}